<html>
   {% include "header.html" %}
    <head>
        <link rel="stylesheet" href="/static/styles2.css">
    </head>
    <title> The complete solution of tech</title>
<body>
    
<h1> Welcome to Spine software systems</h1>


<p> At the heart of it all, Spine Software Systems Pvt. Ltd. <br> is a <a href="https://espine.in" target='blank'>buisness management software</a>
    provider, specializing in Enterprise Resource Planning (ERP) software for big businesses. Focusing mainly on providing solutions to the pharmaceutical sector, our range of IT solutions extends to GST software, billing software, and pharma software, encompassing the entire horizon of IT services for the pharma industry.</p>

    <a href="#c4">Learn about PharmaTrader</a>


    <img src="/static/a.jpg" width="500" height="400"> 

<table>
    <tr>
        <th>country</th>
        <th>product</th>
    </tr>
    <tr>
        <td>india</td>
        <td>erp</td>
    </tr>
</table>
    

<h2>OUR PRODUCTS</h2>

<h3 id="#c4">PharmaTrader</h3>

<p> The next generation GST, accounting and billing software for the pharma industry, <br> PharmaTrader helps you manage all your inventory operations in one place... <br>


<pre>
    SpineSFA allows you to effortlessly gather and analyse data about your sales operations within a moment. 
    It would take hours to process the same amount of data manually using spreadsheets that SpineSFA can process within minutes. 
    Reporting is an essential part of any SFA software. 
    With SpineSFA, you can make sure that your decision making is driven by data, 
    increasing your business intelligence in the process.
</pre>
    

</p>

 

</body>
{% include "footer.html" %}
</html>