<html>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<header>
   <button> <b> Welcome to the Ankush Website </b> </button>
</header>
    <link rel="stylesheet" href="/static/creative.css">
{% include "header.html" %}

<body>
<img src="/static/en.jpg" width="200" height="400">


<h1>Environment Sustains Life</h1>





<div class="mycontainer">
    <div style="background-color:#FFF4A3;">
<h2>Reduce, Reuse, Recycle</h2>
<p> <b>Reduce</b>: Minimize waste by choosing products with less packaging and avoiding single-use items. <br>
    <b>Reuse</b>: Opt for reusable products such as bags, bottles, and containers to cut down on waste. <br>
    <b>Recycle</b>: Properly sort and recycle materials like paper, plastic, glass, and metal to prevent them from ending up in landfills.</p>
</div>

<div style="background-color:#FFC0C7;">
<h2>Conserve Energy and Water</h2>
<p> <b>Energy Conservation</b>: Switch to energy-efficient appliances, use LED bulbs, and unplug electronics when not in use. Additionally, consider using renewable energy sources like solar or wind power. <br>
    <b>Water Conservation</b>: Fix leaks, install water-saving fixtures, and practice mindful water usage by taking shorter showers and turning off the tap while brushing your teeth.</p>
</div>





<div style="background-color:#D9EEE1;">   
    
<h2>Support and Practice Sustainable Living</h2>
<p> <b>Sustainable Transportation</b>: Use public transport, carpool, bike, or walk instead of driving alone. This reduces greenhouse gas emissions and air pollution.<br>
    
    <b>Eco-friendly Products</b>: Choose products that are sustainably sourced, biodegradable, or made from recycled materials. <br> <b>Support Green Initiatives </b>: Participate in or donate to environmental conservation programs, 
</p>
</div>



<div style="background-color:#D9EEE1;">   
    {%for n in servicesdata%}
    
    <h2>{{n.service_title}}</h2>
    <p>{{n.service_des |length }}</p>
    </div>
    {% endfor %}


<marquee> 
    {%for news in newsdata%}
    love you
{% endfor %}
</marquee>

<marquee> 
    {%for news in newsdata%}
    {{news.news_title}}
{% endfor %}
</marquee>

</P>
</div>






<br>
<br>
<br>
<br>

<img class= ankush src="/static/happy.jpg" alt='avatar'> 


<article>
    Thinking about the environment is crucial in India for several compelling reasons. <br> <br>
    Public health is directly affected by environmental conditions. Severe air pollution in urban areas leads to respiratory and cardiovascular diseases. Addressing pollution can significantly improve public health. Water quality is another major concern, with contamination and scarcity affecting many regions. Protecting water resources ensures clean drinking water and supports sustainable agriculture, vital for food security. <br>
    Economic stability is also closely tied to the environment. A large portion of India's population relies on agriculture, which is threatened by soil erosion and water scarcity. Environmental conservation boosts agricultural productivity and the economy. Moreover, India’s natural beauty attracts tourism, providing significant revenue and employment. Maintaining these attractions through environmental protection supports the tourism industry.
    
    <br> <br>Lastly, India is vulnerable to climate change impacts like floods, droughts, and cyclones. Environmental protection and sustainable practices enhance resilience against these events. Additionally, preserving India’s rich biodiversity is crucial for ecosystem stability, which supports agriculture, medicine, and climate regulation.
    
    In summary, environmental consideration is essential in India for improving public health, ensuring economic stability, building climate resilience, and preserving biodiversity.
</article>
<br>
<br>
<br>
<br>
<br>


<h1 div class=whyspine> PLANT TREES</h1>
<p class=loss>Losing a tree brings profound regret. The human feels the loss of shade, fresh air, and the beauty it provided. They realize the tree's role in sustaining life, its contribution to biodiversity, and its environmental protection. This regret becomes a powerful reminder to cherish and protect our natural world.</p>

<br>
<form class=form>
    <label for = "fname">First Name: </label><br>
    <input type ="text" id='fname' name='fname'><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"> <br>
    <label for ='submit'>Submit now</label><br> <br>
    <button>submit</button>





</form>
<br>

</body>

 
</html>

{% include "footer.html" %}
