body{ background-color: rgb(215, 27, 27);
}

h1{
    background-color: yellow;

}

button{ background-color: white;

}

header{
    background-color: white;
    padding-top: 25%;
}


.caldiv{

    background-color: white;
}

body{
    background-color: white;
}